body {
  font-family: Arial, Helvetica, sans-serif;
}

table {
  border-collapse: collapse;
  font-size: 15px;
  border: 1px solid #ccc;
}

td {
  padding: 3px;
  height: 25px;
}

th {
  background-color: blueviolet;
  color: white;
  height: 30px;
}

h3 {
  font-weight: 600;
  color: blueviolet;
}

tr td a {
  color: red;
  text-decoration: none;
}

tr td a:hover {
  color: blue;
}
